<?xml version="1.0" ?>

<launch>
    <arg name="rviz" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="record_data" default="false"/>
    <arg name="urdfFile" default="$(find fairy_description)/urdf/fairy.urdf.xacro"/>

    <param name="debug" value="$(arg debug)"/>
    <param name="robot_description" textfile="$(arg urdfFile)" />

    <param name="urdfFile"          value="$(arg urdfFile)"/>
    <param name="taskFile"          value="$(find modified_rl_controllers)/config/fairy/task.info"/>
    <param name="referenceFile"          value="$(find modified_rl_controllers)/config/fairy/reference.info"/>
    <param name="gaitCommandFile" value="$(find modified_rl_controllers)/config/fairy/gait.info"/>
    
    <include file="$(find legged_bridge_hw)/launch/legged_bridge_hw.launch"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" value="" />
    </node>

    <node pkg="modified_rl_controllers" type="timedelay_launch.sh" name="timedelay_launch" args="2 modified_rl_controllers load_ac_controller.launch" output="screen">
    </node>

    <group if="$(arg rviz)">
        <param name="robot_description" textfile="$(arg urdfFile)"/>
        <arg name="rvizconfig" default="$(find modified_rl_controllers)/rviz/legged_robot.rviz" />
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
      </group>

      <group if="$(arg record_data)">
        <include file="$(find modified_rl_controllers)/launch/record_data.launch"/>
    </group>
</launch>