<launch>
  <arg name="rvizconfig" default="$(find fairy_description)/rviz/display.rviz"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find fairy_description)/urdf/fairy.urdf.xacro'" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="" />
  </node>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />

</launch>
